<div class="col-md-12 col-sm-6 spacing-bottom tab-widget slideup-animation" ng-show="viewTab">
    <div class="widget">
        <div class="widget-title dark">
            {{ activeOrder.customer.customerName }}'s Tab
            <div class="controller">
                <a ng-click="viewTab = !viewTab" href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="widget-body">
            <table class="table">
                <thead>
                <tr>
                    <th  class="unseen text-center">QTY</th>
                    <th class="text-left">DESC</th>
                    <th  class="text-right">PRICE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in activeOrder.items" >
                    <td class="unseen text-center">{{ item.quantity }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-right">{{ item.price * item.quantity | currency }}</td>
                </tr>
                <tr>
                    <td><h4 class="semi-bold"></td>
                    <td class="text-right"><strong>Subtotal</strong></td>
                    <td class="text-right">{{ activeOrder.getTotalPrice() | currency }}</td>
                </tr>
                <tr>
                    <td  rowspan="4"><h4 class="semi-bold"></td>
                    <td class="text-right"><strong>Tax</strong></td>
                    <td class="text-right">{{ activeOrder.getTotalTax() | currency }}</td>
                </tr>
                <tr>
                    <td class="text-right no-border">
                        <div class="well well-small">
                            <strong>Total</strong>
                        </div>
                    </td>
                    <td class="text-right">
                        <strong>{{ activeOrder.getTotalPriceWithTax() | currency }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
                <div class="pull-left" style="margin-top: -35px;">
                    <button type="button" class="btn btn-white btn-cons "><i class="icon-tags"></i> Discount</button>
                </div>
                <div class="pull-right" style="margin-top: -35px;">
                    <button type="button" class="btn btn-primary btn-cons pull-right"><i class="icon-credit-card"></i>&nbsp;Pay</button>
                </div>
        </div>
    </div>
</div>