<div class="page-title">
    <h3>Dashboard </h3>
</div>

<div id="container">
<div class="row spacing-bottom 2col">
    <div class="col-md-3 col-sm-6 spacing-bottom-sm">
        <div class="tiles blue added-margin">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                    <a href="" ng-click="configModal()" class="config"></a>
                </div>
                <div class="tiles-title">
                    TODAY’S SERVER LOAD
                </div>
                <div class="heading">
                    <span class="animate-number" ui-jq="animateNumbers" ui-options="26.8,true,1200">0</span>%
                </div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white" animate-progress-bar data-percentage="26.8%"></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 4% higher <span class="blend">than last month</span></span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 spacing-bottom-sm">
        <div class="tiles green added-margin">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tiles-title">
                    TODAY’S VISITS
                </div>
                <div class="heading">
                    <span class="animate-number" ui-jq="animateNumbers" ui-options="2545665,true,1000">0</span>
                </div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white" animate-progress-bar data-percentage="79%" ></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 2% higher <span class="blend">than last month</span></span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="tiles red added-margin">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tiles-title">
                    TODAY’S SALES
                </div>
                <div class="heading">
                    $ <span class="animate-number" ui-jq="animateNumbers" ui-options="14500,true,1200">0</span>
                </div>
                <div class="progress transparent progress-white progress-small no-radius">
                    <div class="progress-bar progress-bar-white" animate-progress-bar data-percentage="45%" ></div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 5% higher <span class="blend">than last month</span></span></div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="tiles purple added-margin">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tiles-title">
                    TODAY’S FEEDBACKS
                </div>
                <div class="row-fluid">
                    <div class="heading">
                        <span class="animate-number" ui-jq="animateNumbers" ui-options="1600,true,700">0</span>
                    </div>
                    <div class="progress transparent progress-white progress-small no-radius">
                        <div class="progress-bar progress-bar-white" animate-progress-bar data-percentage="12%"></div>
                    </div>
                </div>
                <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; 3% higher <span class="blend">than last month</span></span></div>

            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-8 spacing-bottom">

<div class="row tiles-container spacing-bottom tiles grey">
    <div class="tiles white col-md-8 col-sm-8 no-padding">
        <div class="tiles-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="mini-chart-wrapper">
                        <div class="chart-details-wrapper">
                            <div class="chartname">
                                New Orders
                            </div>
                            <div class="chart-value">
                                17,555
                            </div>
                        </div>
                        <div class="mini-chart">
                            <div id="mini-chart-orders"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="mini-chart-wrapper">
                        <div class="chart-details-wrapper">
                            <div class="chartname">
                                My Balance
                            </div>
                            <div class="chart-value">
                                $17,555
                            </div>
                        </div>
                        <div class="mini-chart">
                            <div id="mini-chart-other" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="ricksaw" ></div>

        <div class="clearfix"></div>
    </div>
    <div class="col-md-4 col-sm-4 no-padding">
        <div class="tiles grey ">
            <div class="tiles white no-margin">
                <div class="tiles-body">
                    <div class="tiles-title blend">
                        OVERALL VIEWS
                    </div>
                    <div class="heading">
                        <span data-animation-duration="1000" data-value="432852" class="animate-number">0</span>
                    </div>
                    44% higher <span class="blend">than last month</span>
                </div>
            </div>
            <div id="legend"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="tiles white">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tiles-title">
                    NOTIFICATIONS
                </div>
                </br>
                <div class="notification-messages info">
                    <div class="user-profile">
                        <img src="assets/img/profiles/c.jpg" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35">
                    </div>
                    <div class="message-wrapper">
                        <div class="heading">
                            David Nester - Commented on your wall
                        </div>
                        <div class="description">
                            Meeting postponed to tomorrow
                        </div>
                    </div>
                    <div class="date pull-right">
                        Just now
                    </div>
                </div>
                <div class="notification-messages danger">
                    <div class="iconholder">
                        <i class="icon-warning-sign"></i>
                    </div>
                    <div class="message-wrapper">
                        <div class="heading">
                            Server load limited
                        </div>
                        <div class="description">
                            Database server has reached its daily capicity
                        </div>
                    </div>
                    <div class="date pull-right">
                        Yesterday
                    </div>
                </div>
                <div class="notification-messages success">
                    <div class="user-profile">
                        <img src="assets/img/profiles/h.jpg" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35">
                    </div>
                    <div class="message-wrapper">
                        <div class="heading">
                            You have've got 150 messages
                        </div>
                        <div class="description">
                            150 newly unread messages in your inbox
                        </div>
                    </div>
                    <div class="date pull-right">
                        Yesterday
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 no-padding">
        <div class="tiles red weather-widget ">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tiles-title">
                    TODAY’S WEATHER
                </div>
                <div class="heading">
                    <div class="pull-left">
                        Tuesday
                    </div>
                    <div class="pull-right">
                        55
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="big-icon">
                    <canvas id="partly-cloudy-day" width="120"  height="120" ></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tile-footer">
                <div class="pull-left">
                    <canvas id="wind" width="32" height="32"></canvas>
                    <span class="text-white small-text-description">Windy</span>
                </div>
                <div class="pull-right">
                    <canvas id="rain" width="32" height="32"></canvas>
                    <span class="text-white small-text-description">Humidity</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12 col-sm-6 spacing-bottom">
            <div class="widget">
                <div class="widget-title dark">
                    <div class="pull-left ">
                        <button class="btn  btn-dark  btn-small" type="button"><i class="icon-plus"></i></button>
                    </div>
                    Todo list
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="col-md-12">
                        <input type="text" class="form-control dark" id="date">
                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="checkbox check-success 	">
                            <input type="checkbox" value="1" id="chk_todo01" class="todo-list">
                            <label for="chk_todo01">Send email to David, new signups</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="checkbox check-success 	">
                            <input type="checkbox" checked="checked" value="1" id="chk_todo02" class="todo-list">
                            <label for="chk_todo02" class="done">Call Jane!!</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="checkbox check-success 	">
                            <input type="checkbox"  value="1" id="chk_todo03" class="todo-list">
                            <label for="chk_todo03">Server upgrades ASAP</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="checkbox check-success 	">
                            <input type="checkbox" value="1" id="chk_todo04" class="todo-list">
                            <label for="chk_todo04">Hello, new task</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 white col-sm-6">

        </div>
    </div>

</div>
</div>
</div>