extends ../layouts/default

block content
  .row
    .col-md-offset-3.col-md-6
      if (errors.length > 0)
        .fade.in.alert.alert-danger.alert-dismissable
          button.close(data-dismiss="alert", type="button", aria-hidden="true") &times;
          ul
            each error in errors
              li= error.type

      block auth
