<!-- BEGIN SIDEBAR -->
<div ng-controller="sideBarController">
    <div class="page-sidebar" id="main-menu" ng-class="classes.sidebar_mini">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
            <!--div class="profile-wrapper">
                <img src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
            </div-->
            <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">John <span class="semi-bold">Smith</span></div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->

        <!-- BEGIN MINI-WIGETS -->

        <!-- END MINI-WIGETS -->

        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">Navigate</p>
        <ul>
            <li class="start active "> <a href="/"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> <span class="badge badge-important pull-right">5</span></a> </li>
            <li class=""> <a href="email.html"> <i class="icon-envelope"></i> <span class="title">Email</span>  <span class=" badge badge-disable pull-right ">203</span></a> </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-ui"></i> <span class="title">UI Elements</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="typography.html"> Typography </a> </li>
                    <li > <a href="messages_notifications.html"> Messages & Notifications </a> </li>
                    <li > <a href="icons.html">Icons</a> </li>
                    <li > <a href="buttons.html">Buttons</a> </li>
                    <li > <a href="tabs_accordian.html"> Tabs & Accordions </a> </li>
                    <li > <a href="sliders.html">Sliders</a> </li>
                    <li > <a href="group_list.html">Group list </a></li>
                </ul>
            </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-form"></i> <span class="title">Forms</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="#/form_elements">Form Elements </a> </li>
                    <li > <a href="form_validations.html">Form Validations</a> </li>
                </ul>
            </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-portlets"></i> <span class="title">Grids</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="grids_simple.html">Simple Grids</a> </li>
                    <li > <a href="grids_draggable.html">Draggable Grids </a> </li>
                </ul>
            </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-thumb"></i> <span class="title">Tables</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="tables.html"> Basic Tables </a> </li>
                    <li > <a href="datatables.html"> Data Tables </a> </li>
                </ul>
            </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-map"></i> <span class="title">Maps</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="google_map.html"> Google Maps </a> </li>
                    <li > <a href="vector_map.html"> Vector Maps </a> </li>
                </ul>
            </li>
            <li class=""> <a href="charts.html"> <i class="icon-custom-chart"></i> <span class="title">Charts</span> </a> </li>
            <li class=""> <a href="javascript:;"> <i class="icon-custom-extra"></i> <span class="title">Extra</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href="user-profile.html"> User Profile </a> </li>
                    <li > <a href="gallery.html"> Gallery</a> </li>
                    <li class=""><a href="calender.html"> Calendar</a> </li>
                    <li > <a href="search_results.html"> Search Results </a> </li>
                    <li > <a href="invoice.html"> Invoice </a> </li>
                    <li > <a href="404.html"> 404 Page </a> </li>
                    <li > <a href="500.html"> 500 Page </a> </li>
                    <li > <a href="blank_template.html"> Blank Page </a> </li>
                    <li > <a href="login.html"> Login </a> </li>
                    <li > <a href="lockscreen.html"> Lockscreen </a> </li>
                </ul>
            </li>
            <li class="hidden-lg hidden-md hidden-xs" id="more-widgets" style="display:" > <a href="javascript:;"> <i class="icon-ellipsis-horizontal"></i></a>
                <ul class="sub-menu">
                    <div class="side-bar-widgets">
                        <p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
                        <ul class="folders" id="folders">
                            <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
                            <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
                            <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
                            <li id="folder-input" class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name"></li>
                        </ul>
                        <p class="menu-title">PROJECTS </p>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                                <p>Redesign home page</p>
                            </div>
                        </div>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                                <p>Statistical report</p>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
        <div class="side-bar-widgets">
            <p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
            <ul class="folders" id="folders">
                <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
                <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
                <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
                <li id="folder-input" class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name"></li>
            </ul>
            <p class="menu-title">PROJECTS </p>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                    <p>Redesign home page</p>
                </div>
            </div>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                    <p>Statistical report</p>
                </div>
            </div>
        </div>
        <a href="" class="scrollup" ng-class="classes.sidebar_scrollup" scroll-up-on-click>Scroll</a>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
    <div class="footer-widget" ng-show="MainMenuToggled">
        <div class="progress transparent progress-small no-radius no-margin">
            <div data-percentage="79%" class="progress-bar progress-bar-success animate-progress-bar" ></div>
        </div>
        <div class="pull-right">
            <div class="details-status">
                <span data-animation-duration="560" data-value="86" class="animate-number"></span>%
            </div>
            <a href="lockscreen.html"><i class="icon-off"></i></a></div>
    </div>
</div>
<!-- END SIDEBAR -->