<!-- BEGIN CHAT -->
<div ng-controller="customerController">
    <div id="sidrxxx" class="sidebar-right" ng-show="SideRightToggled">
        <div class="customer-window-wrapper">
            <div class="customer-header">
                <div class="pull-left">
                    <input type="text" placeholder="search" ng-model="filters.name" style="color:#9C9C9C">
                </div>
                <div class="pull-right header-icon"> <a href="" class="" ng-click="addCustomer()">
                    <i class="icon-plus-sign" style="color:#6f7b8a;"></i>
                    <!--div class="iconset top-settings-dark "></div-->
                </a> </div>
            </div>
            <div class="side-widget">
                <div class="side-widget-title">Tabs</div>
                <div id="favourites-list" customer-tabs-scroll>
                  <perfect-scrollbar class="left-nav-scroller" wheel-propagation="true" wheel-speed="50" refresh-on-change="orders" scroll-bottom-on-change="true" >
                    <div class="side-widget-content" >
                        <div class="user-details-wrapper col-md-5" ng-repeat="orderTab in orders" ng-controller="customerListController" ng-hide="isExcludedByFilter" ng-click="selectCustomer(orderTab.customer)" ng-class="{active: orderTab.customer.customerID==activeOrder.customer.customerID}">
                            <div class="user-details">
                                <div class="user-name"> {{ orderTab.customer.customerName }} </div>
                                <div class="user-more"> <span class="label label-info item-count">{{ orderTab.getTotalCount() }}</span> |<span class="money">{{ orderTab.getTotalPrice() | currency }}</span> </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                  </perfect-scrollbar>
                </div>
            </div>
            <div class="tab-summary-widget">
                <div ng-show="activeOrder.customer.customerName">
                    <div class="side-widget-title"><b>{{ activeOrder.customer.customerName }}'s</b> Tab</div>
                    <div class="side-widget-content" id="friends-list">
                        <div class="pull-left">
                            Beer <span class="label label-info">{{ activeOrder.getTotalCount() }}</span>
                        </div>
                        <div class="pull-right">
                            Merch <span class="label label-success">0</span>
                        </div>
                        <button type="button" class="btn btn-info btn-cons" ng-click="viewTab = !viewTab" style="float:left"><i class="icon-paste"></i>Tab</button>
                        <h2 style="float:left">{{ activeOrder.getTotalPrice() | currency }}</h2>
                    </div>
                </div>
                <div ng-hide="activeOrder.customer.customerName" class="footer-widget-placeholder">
                    No Customer Selected
                    <button type="button" class="btn btn-info btn-cons" ng-click="addCustomer()"><i class="icon-user"></i> New Tab</button>
                </div>
            </div>
            <!--order-tab class="slideup-animation" ng-show="viewTab"></order-tab-->
            <!-- make ng include... doesnt need to be directive for live data i guess -->
            <div data-ng-include="'/app/views/dash/tab.html'"></div>


        </div>
    </div>
</div>
<!-- END CHAT -->