<!-- BEGIN SIDEBAR -->
<div ng-controller="sideBarController">
    <div class="page-sidebar" id="main-menu" ng-class="classes.sidebar_mini">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
            <!--div class="profile-wrapper">
                <img src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
            </div-->
            <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">Bar <span class="semi-bold">Restaurant</span></div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->

        <!-- BEGIN MINI-WIGETS -->

        <!-- END MINI-WIGETS -->

        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">Navigate</p>
        <ul>
            <li class="start active "> <a href="/" side-menu-item> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> <span class="badge badge-important pull-right">5</span></a> </li>
            <li class=""> <a href="" side-menu-item> <i class="icon-custom-ui"></i> <span class="title">Inventory</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li > <a href=""> Add Item </a> </li>
                    <li > <a href=""> Edit Item </a> </li>
                </ul>
            </li>

        </ul>
        <a href="" class="scrollup" ng-class="classes.sidebar_scrollup" scroll-up-on-click>Scroll</a>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
    <div class="footer-widget" ng-show="MainMenuToggled">
        <div class="progress transparent progress-small no-radius no-margin">
            <div data-percentage="79%" class="progress-bar progress-bar-success animate-progress-bar" ></div>
        </div>
        <div class="pull-right">
            <div class="details-status">
                <span data-animation-duration="560" data-value="86" class="animate-number"></span>%
            </div>
            <a href="lockscreen.html"><i class="icon-off"></i></a></div>
    </div>
</div>
<!-- END SIDEBAR -->