<!-- BEGIN CHAT -->
<div ng-controller="customerController">
    <div id="sidrxxx" class="sidebar-right" ng-show="SideRightToggled">
        <div class="chat-window-wrapper">
            <div class="chat-header">
                <div class="pull-left">
                    <input type="text" placeholder="search">
                </div>
                <div class="pull-right"> <a href="#" class="" >
                    <div class="iconset top-settings-dark "></div>
                </a> </div>
            </div>
            <div class="side-widget">
                <div class="side-widget-title">Customers</div>
                <div id="favourites-list">
                    <div class="side-widget-content" >
                        <div class="user-details-wrapper">
                            <div class="user-details">
                                <div class="user-name"> Jane Smith </div>
                                <div class="user-more"> 7 Items <b>$34.50</b> </div>
                            </div>
                            <div class="user-details-status-wrapper"> <span class="badge badge-important">7</span> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-details-wrapper active">
                            <div class="user-details">
                                <div class="user-name"> David Nester </div>
                                <div class="user-more"> 2 Items <b>$6.00</b> </div>
                            </div>
                            <div class="user-details-status-wrapper">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-details-wrapper">
                            <div class="user-details">
                                <div class="user-name"> Rupert McGee </div>
                                <div class="user-more"> 3 Items <b>$9.00</b> </div>
                            </div>
                            <div class="user-details-status-wrapper">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-widget">
                <div class="side-widget-title"><b>David Nester's</b> Tab</div>
                <div class="side-widget-content" id="friends-list">
                     <div>
                         Beer <span class="badge badge-important">7</span>
                     </div>
                     <div>
                        Merch <span class="badge badge-important">1</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END CHAT -->