/*Angular ng-include, ng-view, ng-repeat shuffle animations*/
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

.shuffle-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
    left: 2em;
    opacity: 0;
}

/* Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.fader-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.fader-animation.ng-move {
    opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
    opacity:1;
}


/* Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove {
    display: inline!important;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    -webkit-transition: 0.8s linear all;
    -moz-transition: 0.8s linear all;
    -o-transition: 0.8s linear all;
    transition: 0.8s linear all;
}

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
    opacity: 1;
}

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
    opacity: 0;
}
/* Modal bootstrap3 angular-ui fix */
.modal{
    display: block;
}
/*sidebar animations
.page-sidebar{
    transition: width 1s;
}
.page-content{
    transition: margin-left 1s;
}*/
.page-sidebar.mini {
    background-color: #1b1e24 !important;
    position:fixed;
}

/* order dashboard tiles */
.added-bottom-margin{
    margin-bottom: 20px;
}
.sidebar-right{
    /*display:none;*/
    position: fixed;
    top:0;
    right:0;
    z-index: 1000;
}
.body-right-margin{margin-right:260px !important;}
.header-seperation-right{
    width: 260px;
    display: block;
    float: right;
    height: 60px;
    background-color: #22262e;
}
.tiles .tiles-body {
    padding: 10px 18px 15px 24px;
}
.chat-header input{
    border: 1px solid #000000;
}
.tiles.orange{
    background-color: #e67E22;
}
.tiles.beer{
    background-color: #E74C3C;
}